html, body {
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* header */

#header {
	background-color: #333333;
	height: auto;
	width: 100%;
}

.row {
	display: table;
	width: 100%;
	min-height: 44px;
}

#instance-row {
	display: none;
}

.hamburger {
	display: table-cell;
	cursor: pointer;
	vertical-align: top;
	padding: 5px 10px;
	width: 20px;
}

.patty1, .patty2, .patty3 {
	background-color: white;
	width: 20px;
	height: 2px;
	margin: 6px 0;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.changeBurger .patty1 {
	-webkit-transform: rotate(-45deg) translate(-7px, 6px);
	-ms-transform: rotate(-45deg) translate(-7px, 6px);
	transform: rotate(-45deg) translate(-7px, 6px);
}

.changeBurger .patty2 {
	opacity: 0;
}

.changeBurger .patty3 {
	-webkit-transform: rotate(45deg) translate(-5px, -5px);
	-ms-transform: rotate(45deg) translate(-5px, -5px);
	transform: rotate(45deg) translate(-5px, -5px);
}

.title {
	display: table-cell;
	word-break: break-all;
	vertical-align: top;
	color: white;
	padding: 3px 15px;
	font-size: 30px;
}

.zoom-bar {
	display: table-cell;
	float: right;
	margin-right: 10px;
}

.zoom-img {
	display: inline-block;
	width: 1.3cm;
	height: 1.3cm;
}

.zoom-img:hover {
	cursor: pointer;
}

#fit-to-screen {
	margin: 0.25cm;
	width: 0.8cm;
	height: 0.8cm;
}

#zoom-value-div {
	display: inline-block;
	vertical-align: top;
	margin: 0.4cm 0;
	min-width: 1.3cm;
}

#zoom-value {
	color: white;
	float: right;
	font-size: 0.5cm;
}

.instance-open {
	display: table-cell;
	padding: 10px;
	min-width: 124px;
}

.instance-open:hover {
	background-color: #666666;
}

#instance-open-img {
	margin: auto;
	cursor: pointer;
	vertical-align: top;
	margin-top: 1px;
	width: 20px;
	height: 20px;
}

#instance-open-label {
	color: white;
	cursor: pointer;
	vertical-align: top;
	font-size: 20px;
}

#active-instance {
	color: white;
	display: table-cell;
	vertical-align: top;
	color: white;
	padding: 10px 0px;
	width: 100%;
	font-size: 20px;
}

/* content */

.content {
	width: 100%;
}

#content-frame, #svg-frame {
	width: 100%;
	height: 100%;
}

#top {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	display: none;
	cursor: crosshair;
}

#selection {
	border: 1px dotted #000;
	position: absolute;
	z-index: 2;
	background-color: rgb(66, 185, 245);
	opacity: 0.2;
	cursor: crosshair;
}

/* menu */

.menu {
	position: absolute;
	height: inherit;
	background-color: rgba(51, 51, 51, .9);
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
}

/* dropdown */

.menu label, .dropdown-btn {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	border: none;
	background: none;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.menu label {
	display: table-cell;
	vertical-align: bottom;
}

.menu label:hover, .dropdown-btn:hover {
	color: #f1f1f1;
}

.nav-btn:checked+label {
	color: #f1f1f1;
}

.active {
	color: white;
}

.dropdown-container {
	display: none;
}

.sub {
	margin-left: 8px;
}

.container-active {
	display: block;
	position: relative;
}

.follow {
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: white;
}

.arrow {
	display: inline-block;
	border: 2px solid white;
	width: 6px;
	height: 6px;
	border-left: none;
	border-bottom: none;
	margin-right: 0.5em;
	-webkit-transform: translate(0px, -2px) rotateZ(45deg);
	-ms-transform: translate(0px, -2px) rotate(45deg);
	transform: translate(0px, -2px) rotateZ(45deg);
}

.rotate {
	-webkit-transform: translate(2.6px, -4px) rotateZ(135deg);
	-ms-transform: translate(2.6px, -4px) rotate(135deg);
	transform: translate(2.6px, -4px) rotateZ(135deg);
}

.file {
	display: table;
}

.file-type {
	display: table-cell;
	width: 20px;
	height: 20px;
	padding: 16px 1px 0 10px;
}

/* footer */

#footer {
	background-color: #333333;
	width: 100%;
	height: 44px;
}

.nav-box {
	display: none;
}

.nav-box:checked+.nav {
	background-color: #e1e1e1;
	color: black;
}

.nav {
	display: inline-block;
	cursor: pointer;
	color: white;
	font-size: 20px;
	padding: 10px;
}

.nav:hover {
	background-color: #666666;
}

/* action */

.menu-box {
	background-color: rgba(51, 51, 51, .9);
	width: 100%;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 150px;
	position: absolute;
	bottom: 43px;
}

.menu-item {
	display: inline-block;
	color: white;
	background-color: #333333;
	margin: 3px;
}

.menu-item:hover {
	background-color: #666666;
}

.nav-btn {
	display: none;
}

.nav-btn:checked+.menu-item {
	background-color: #e1e1e1;
}

.nav-btn:checked+.menu-item label {
	color: black;
}

.nav-label {
	font-size: 20px;
	padding: 10px 20px;
	cursor: pointer;
	display: block;
}

/* media queries */

/* large */

@media only screen and (min-width: 801px) {
	.menu-active {
		width: auto;
		display: block;
	}
	.menu-active label, .menu-active .dropdown-btn {
		padding: 15px 25px 0 10px;
	}
	.container-active {
		padding-left: 16px;
	}
}

@media only screen and (min-height: 601px) {
	.dialog {
		margin-top: 10%;
	}
	#instance-ul {
		max-height: 300px;
	}
}

/* small */

@media only screen and (max-width: 800px) {
	/* navigation */
	.menu-active {
		width: 100%;
		display: block;
	}
	.menu-active label, .menu-active .dropdown-btn {
		padding: 15px 0 0 15px;
	}
	.container-active {
		padding-left: 21px;
	}
}

@media only screen and (max-height: 600px) {
	.dialog {
		margin-top: 2%;
	}
	#instance-ul {
		max-height: 160px;
	}
}

/* dialog */

.dialog-level {
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.dialog {
	background-color: white;
	border-radius: 10px;
	width: 80%;
	max-width: 600px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.dialog-header {
	display: table;
}

.dialog-title {
	display: table-cell;
	font-size: 25px;
	width: 100%;
	padding: 5px;
}

.dialog-close {
	color: #aaaaaa;
	font-weight: bold;
	font-size: 32px;
	margin-top: 2px;
	margin-right: 8px;
}

.dialog-close:hover, .dialog-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.dialog-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	margin: 5px;
}

.dialog-footer {
	margin: 5px;
}

.dialog-button {
	font-size: 20px;
	color: #454545;
	background-color: #fbfbfb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#c7c7c7));
	background-image: -o-linear-gradient(top, #fbfbfb, #c7c7c7);
	background-image: linear-gradient(180deg, #fbfbfb, #c7c7c7);
	border: 0.0625em solid #d7d7d7;
	border-radius: 0.5em;
	-webkit-box-shadow: 0 0.125em 0.1em rgba(0, 0, 0, 0.3);
	box-shadow: 0 0.125em 0.1em rgba(0, 0, 0, 0.3);
}

.dialog-button:hover {
	cursor: pointer;
	-webkit-box-shadow: 0 0.125em 0.3em rgba(0, 0, 0, 0.8);
	box-shadow: 0 0.125em 0.3em rgba(0, 0, 0, 0.8);
	border: 0.0625em solid #d7d7d7;
}

/* edit-dialog */

#input-text {
	width: 100%;
	font-size: 18px;
}

#write-btn {
	margin-right: 10px;
}

#close-btn {
	float: right;
}

/* instance dialog */

#instance-input {
	font-size: 20px;
	width: 99%;
	padding: 1px;
	margin-bottom: 4px;
}

#instance-ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: auto;
}

.instance-li {
	display: block;
	cursor: pointer;
	border: 1px solid #ddd;
	margin-top: -1px;
	background-color: #f6f6f6;
	padding: 5px;
	font-size: 18px;
}

.instance-li:hover {
	background-color: #eee;
}

.instance-li:focus {
	background-color: #333;
	color: white;
}

#instance-last-ul {
	padding: 0px;
	margin-bottom: 20px;
}

.instance-last-label {
	font-size: 16px;
	display: block;
	margin: 6px 0px 6px 2px;
}

.instance-label {
	cursor: pointer;
}

#instance-dialog-select, #instance-dialog-cancel {
	float: right;
	margin: 5px;
}

.dialog-button:disabled {
	color: #696969;
	background-color: #fbfbfb;
}

.dialog-button:disabled:hover {
	cursor: default;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0.0625em solid #d7d7d7;
	border-radius: 0.5em;
	-webkit-box-shadow: 0 0.125em 0.1em rgba(0, 0, 0, 0.3);
	box-shadow: 0 0.125em 0.1em rgba(0, 0, 0, 0.3);
}

/* hover info */

#hover-info-frame {
	top: 0px;
	position: absolute;
	display: none;
	border: 1px #333333 solid;
}