svg {
	background:#e1e1e1;
	cursor: default;
}

.box {
	fill:white;
	stroke:black;
}

.expression, .value {
	fill:black;
	font-size:11px;
	font-family:Consolas;
}

.anchor {
	fill:black;
	stroke:black;
}

.negation {
	fill:white;
	stroke:black;
}

.order .box {
	fill:#be9b00;
	stroke:#be9b00;
}

.order .expression {
	font-weight:bold;
	font-size:10px;
	fill:white;
	text-anchor:end;
}

.storage-mode .expression {
	font-weight:bold;
}

.comment .box{
	stroke:green;
}

.comment .expression{
	fill:green;
	font-style:italic;
}

.type > .expression {
	text-anchor:middle;
	font-weight:bold;
}

.type .box {
	fill:#ededed;
	stroke-width:0;
}

.parameters > .expression {
	font-weight:bold;
	font-size:12px;
}

.parameter > .expression {
	fill:#919191;
}

.parameter > .value {
	text-anchor:middle;
}

.parameter > .value.default {
	fill:#919191;
}

.parameter > .box {
	stroke:#ededed;
}

.right .expression {
	text-anchor:end;
	fill:#919191;
}

.left .expression {
	fill:#919191;
}

.connection {
	stroke:black;
	fill:none;
}

.monitoring-container > .monitoring-expression {
	font-family:Consolas;
	text-anchor:end;
	fill:black;
	font-size:9px;
}

.monitoring-container > .monitoring-box {
	fill:white;
	stroke:black;
}

.monitoring-container.BOOL > .monitoring-expression {
	text-anchor:middle;
	fill: #f1d500
}

.monitoring-container.BOOL > .monitoring-box {
	fill: #676767
}

.monitoring-container.BOOL[data-boolValue="true"] > .monitoring-expression {
	fill: #676767
}

.monitoring-container.BOOL[data-boolValue="true"] > .monitoring-box {
	fill: #f1d500
}
